.brochure.enfants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 4rem 2rem 4rem;

  .image {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }

  @include breakpoint(mobileonly) {
    padding: 1rem 1rem 2rem 1rem;
  }

  @include breakpoint(tablet) {
    padding: 1rem 8rem 2rem 8rem;
  }

  h1,h2 {
    font-family: Amandine;
    font-weight: normal;
  }

  .section-introduction {

    width: 100%;

    .icone { width: 5rem; }

    .titre {
      font-size: 3rem;
      margin-bottom: 0;
    }

    .sous-titre {
      font-size: 1.7rem;
      margin-top: 1rem;
    }

    @include breakpoint(tablet) {
      .titre {
        font-size: 4rem;
      }
      .sous-titre {
        font-size: 3rem;
      }
    }

    .intro {
      width: 80%;
      margin: 0;
      padding: 5rem;
      font-size: 1.5rem;
      text-align: center;
      background-image: url(../uploads/bulle-longue.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: #fff;
    }

    @include breakpoint(mobileonly) {
      .titre {
        font-size: 1.5rem;
      }

      .intro {
        font-size: 1rem;
      }
    }
  }


  .question {
    text-align: center;

    .titre {
      font-size: 2rem;
      width: 100%;
    }

    .reponses {
      text-align: left;
      font-family: DINPro;
      font-size: 1.5rem;

      li {
        list-style: none;
        background-size: 2.3rem;
        background-repeat: no-repeat;
        background-position: top left;
        padding: 0 0 0 3rem;
        margin-bottom: 2rem;
      }

      .triangle { background-image: url(../uploads/triangle.gif); }
      .point { background-image: url(../uploads/point.gif); }
      .carré { background-image: url(../uploads/carré.gif); }
    }

    @include breakpoint(tablet) {
      .titre {
        font-size: 2.7rem;
      }
      .reponses {
        font-size: 1.7rem;
      }
    }
  }

  .section-reponses {
    width: 100%;
    text-align: center;

    .titre {
      font-size: 5rem;
    }

    .contenu {
      width: 80%;
      margin: auto;

      img { width: 2rem; }

      .instructions {
        margin-bottom: 4rem;
        text-transform: uppercase;
      }
      .resultats {
        p:nth-child(even) {
          margin-bottom: 2rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }

    @include breakpoint(tablet) {
      .titre {
        font-size: 7rem;
      }

      .contenu {
        width: 50%;
      }
    }
  }
  .section-bravo {
  }

}

