.brochure.enfants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2.5rem 2rem 2.5rem;

  .image {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }

  @include breakpoint(mobileonly) {
    padding: 1rem 1rem 2rem 1rem;
  }

  @include breakpoint(tablet) {
    padding: 1rem 8rem 2rem 8rem;
  }

  h1,h2 {
    font-family: Amandine;
    font-weight: normal;
  }

  .section-introduction {

    width: 100%;

    .icone { width: 5rem; }

    .titre {
      font-size: 3rem;
      margin-bottom: 0;
    }

    .sous-titre {
      font-size: 1.7rem;
      margin-top: 1rem;
    }

    @include breakpoint(tablet) {
      .titre {
        font-size: 4rem;
      }
      .sous-titre {
        font-size: 3rem;
      }
    }

    .intro {
      width: 80%;
      margin: 0;
      padding: 6rem;
      font-size: 1.5rem;
      text-align: center;
      background-image: url(../uploads/bulle-longue.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: #fff;
    }

    @include breakpoint(mobileonly) {
      .titre {
        font-size: 1.5rem;
      }

      .intro {
        font-size: 1rem;
      }
    }
  }


  .question {
    text-align: center;

    .titre {
      font-size: 2rem;
      width: 100%;
    }

    .reponses {
      text-align: left;
      font-family: DINPro;
      font-size: 1.5rem;

      li {
        list-style: none;
        background-size: 2.3rem;
        background-repeat: no-repeat;
        background-position: top left;
        padding: 0 0 0 3rem;
        margin-bottom: 2rem;
      }

      .triangle { background-image: url(../uploads/triangle.gif); }
      .point { background-image: url(../uploads/point.gif); }
      .carré { background-image: url(../uploads/carré.gif); }
    }

    @include breakpoint(tablet) {
      .titre {
        font-size: 2.7rem;
      }
      .reponses {
        font-size: 1.7rem;
      }
    }
  }

  .section-reponses {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 5rem;
    }

    .contenu {
      width: 80%;
      margin: auto;

      img { width: 2rem; }

      .instructions {
        margin-bottom: 4rem;
        text-transform: uppercase;
      }
      .resultats {
        p:nth-child(even) {
          margin-bottom: 2rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }

    @include breakpoint(tablet) {
      h1 {
        font-size: 7rem;
      }

      .contenu {
        width: 50%;
      }
    }
  }
  .section-conseils {

    h1 {
      font-size: 3rem;
    }

    ol {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      counter-reset: conseil;

      li {
        counter-increment: conseil;
        font-family: DINPro;
        font-size: 1.2rem;
        width: 34%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 1.5rem;
        margin: 0.5rem;
      }

      li:before {
        line-height: 1rem;
        content: counter(conseil); /* on affiche le compteur */
        background-image: url(../uploads/puce-rouge.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0.4rem;
        font-family: Amandine;
        font-weight: bold;
        font-size: 1.3em;
        color: $rouge;
        text-align: center;
      }

      .conseil-1 {
        background-image: url(../uploads/bulle-conseil-1.svg);
      }

      .conseil-2 {
        background-image: url(../uploads/bulle-conseil-2.svg);
        padding: 1rem 2rem 2rem 2rem;
      }

      .conseil-3 {
        background-image: url(../uploads/bulle-conseil-3.svg);
      }

      .conseil-4 {
        background-image: url(../uploads/bulle-conseil-4.svg);
      }

      .conseil-5 {
        background-image: url(../uploads/bulle-conseil-5.svg);
        width: 75%;
      }

      .conseil-6 {
        background-image: url(../uploads/bulle-conseil-6.svg);
      }

      .conseil-7 {
        background-image: url(../uploads/bulle-conseil-7.svg);
      }

    }

    @include breakpoint(tablet) {
      h1 {
        font-size: 4rem;
      }
    }

  }

}

