.brochure.adultes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & .image {
    display: block;
    width: 32rem;
    margin: 0 auto;
  }

  & .bulle {
    margin-top: -7rem;

    & .bulle-image {
      height: 15rem;
    }

    & .bulle-texte {
      color: white;
      position: absolute;
      width: 40%;
      margin-left: -15rem;
      margin-top: -14rem;

      & h5 { margin: 0; }
    }
  }

  & .icone {
    width: 5rem;
    margin-top: 5rem;
  }

  & .titre {
    font-family: Beautiful Heartbeat;
    font-weight: normal;
    text-transform: lowercase;
    font-size: 9rem;
    line-height: 6rem;
    margin-top: 2rem;
  }

  & .texte {
    font-size: 1.5rem;
    text-align: justify;
  }
}

