.brochure.enfants {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  counter-reset: numero-question;

  .image {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    max-width: 40rem;
    padding: 1rem 4.5rem 2rem 4.5rem;
  }

  h1, h2 {
    font-family: Amandine;
    font-weight: normal;
  }

  .section-introduction {

    width: 100%;

    .icone {
      margin-top: 5rem;
      width: 7rem;
    }

    .titre {
      font-size: 3rem;
      margin-bottom: 0;
    }

    .sous-titre {
      font-size: 1.7rem;
      margin-top: 1rem;
      font-family: Amandine;
      font-weight: normal;
    }

    @include breakpoint(tablet) {
      .titre {
        font-size: 4rem;
      }
      .sous-titre {
        font-size: 3rem;
      }
    }

    .intro {
      width: 80%;
      margin: 0;
      padding: 6rem;
      font-size: 1.5rem;
      background-image: url(../uploads/bulle-longue.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: #fff;

      p {
        margin-bottom: 0;
      }
    }

    @include breakpoint(mobileonly) {
      .titre {
        font-size: 1.5rem;
      }

      .intro {
        font-size: 1rem;
      }
    }
  }

  .question {
    text-align: center;

    .numero:before {
      content: " - " counter(numero-question) " - ";
      counter-increment: numero-question;
      font-family: Amandine;
      font-weight: normal;
    }

    .titre, .numero {
      font-size: 2rem;
      width: 100%;
    }

    .reponses {
      text-align: left;
      font-family: DINPro;
      font-size: 1.5rem;

      li {
        display: flex;
        list-style: none;
        background-size: 2.3rem;
        background-repeat: no-repeat;
        background-position: top left;
        margin-bottom: 2rem;

        img {
          height: 2rem;
          margin-bottom : auto;
        }

        p {
          margin: 0 auto auto 1rem;
        }
      }
    }

    @include breakpoint(tablet) {
      .titre, .numero {
        font-size: 2.7rem;
      }
      .reponses {
        font-size: 1.7rem;
      }
    }
  }

  .section-reponses {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 5rem;
    }

    .contenu {
      width: 80%;
      margin: auto;

      img { width: 2rem; }

      .instructions {
        margin-bottom: 4rem;
        text-transform: uppercase;
      }
      .resultats {
        p:nth-child(even) {
          margin-bottom: 2rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .section-conseils {

    h1 {
      font-size: 3rem;
    }

    ol {
      counter-reset: conseil;
      padding: 0;

      li {
        list-style-type: none;
      }

      .conseil {
        counter-increment: conseil;
        font-family: DINPro;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 1.5rem;
        margin: 1rem;
      }

      .conseil:before {
        line-height: 1rem;
        content: counter(conseil); /* on affiche le compteur */
        background-image: url(../uploads/puce-rouge.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0.4rem;
        font-family: Amandine;
        font-weight: bold;
        font-size: 1.2em;
        color: $rouge;
        text-align: center;
      }

      li:nth-of-type(1) {
        .conseil {
          background-image: url(../uploads/bulle-conseil-1.svg);
        }
        grid-column: 2;
        grid-row: 1 / 3;
      }

      li:nth-of-type(2) {
        .conseil {
          background-image: url(../uploads/bulle-conseil-2.svg);
          padding: 1rem 2rem 2rem 2rem;
        }
        grid-column: 3 / 5;
        grid-row: 2 / 5;
      }

      li:nth-of-type(3) {
        .conseil {
          background-image: url(../uploads/bulle-conseil-3.svg);
        }
        grid-column: 1 / 3;
        grid-row: 4 / 6;
      }

      li:nth-of-type(4) {
        .conseil {
          background-image: url(../uploads/bulle-conseil-4.svg);
          padding-left: 1.9rem;
        }
        grid-column: 3 / 5;
        grid-row: 5;
      }

      li:nth-of-type(5) {
        .conseil {
          background-image: url(../uploads/bulle-conseil-5.svg);
          padding: 2rem;
        }
        grid-column: 2 / 4;
        grid-row: 6;
      }

      li:nth-of-type(6) {
        .conseil {
          background-image: url(../uploads/bulle-conseil-6.svg);
        }
        grid-column: 1 / 3;
        grid-row: 7;
      }

      li:nth-of-type(7) {
        .conseil {
          background-image: url(../uploads/bulle-conseil-7.svg);
        }
        grid-column: 3 / 5;
        grid-row: 7;
      }

    }

    @include breakpoint(laptop) {
      h1 {
        font-size: 4rem;
      }

      ol {
        display: grid;
        grid-template-columns: 0.2fr repeat(2,1fr) 0.2fr;
        grid-template-rows: 3rem auto 0 repeat(4,auto);
        grid-gap: 0.5rem 1rem;

        .conseil {
          font-size: 1.5rem;
          margin: 0;
        }

        li:nth-of-type(5) {
          .conseil {
            padding: 1.5rem;
          }
        }
      }
    }
  }

  footer {
    @include credit-brochures()
  }
}

