#brochure {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 10rem;

  p {
    text-align: center;
    font-size: 28px;
  }
}

#brochure img {
  margin-bottom: 2rem;
  width: 30rem;
}

#brochure img[src~="./zebus.png"] {
  width: 4rem;
  margin-bottom: 0;
}

#brochure h1 {
  font-family: 'Sniglet', cursive;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;

  max-width: 46rem;
  margin: 0 auto 2rem auto;
}
