.brochure.adultes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & .image {
    display: block;
    width: 32rem;
    margin: 0 auto;
  }

  & .bulle {
    margin-top: -7rem;
    position: relative;

    & .bulle-texte {
      font-family: Literata;
      color: white;
      position: relative;
      padding: 3rem 4rem 3rem 4rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      & h1,h2,h3,h4,h5,h6 {
        font-family: BotonBold;
        font-size: 1rem;
        margin: 0;
      }
      & p {
        font-family: Literata;
      }

      li {
        text-align: left;
      }
    }
  }

  & .icone {
    width: 5rem;
    margin-top: 5rem;
  }

  & .titre {
    font-family: Beautiful Heartbeat;
    font-weight: normal;
    text-transform: lowercase;
    font-size: 9rem;
    line-height: 6rem;
    margin-top: 2rem;
  }

  & .texte {
    font-size: 1.5rem;
    text-align: justify;
  }

  & .footer {
    margin-top: 10rem;
    padding: 5rem;
    font-family: DINPro;
    font-size: 1.5rem;
    width: 60%;
    background-image: url(../uploads/bulle-bleue.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    & p { color: white; }

    & h1 {
      font-family: BotonBold;
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}

