.brochure.adultes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  section {
    max-width: 40rem;
  }

  @include breakpoint(laptop) {
    section {
      max-width: 51rem;
    }
  }

  .image {
    display: block;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
  }

  .citation {
    margin-top: -7rem;
    position: relative;
    font-family: Amandine;
    font-size: 1.7rem;
  }

  .bulle {


    .bulle-texte {
      &.padding-bottom-large {
        padding-bottom: 6rem
      }


      font-family: Literata;
      color: white;
      position: relative;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding: 4rem;

      h1,h2,h3,h4,h5,h6 {
        font-family: BotonBold;
        font-size: 1rem;
        margin: 0;
        line-height:1.2rem;
      }
      blockquote p {
        font-family: Amandine;
        font-size: 1.7rem;
        margin: 0;
      }
      p {
        font-family: Literata;
      }

      li {
        text-align: left;
      }
    }
  }

  .icone {
    width: 8rem;
    margin-top: 5rem;
  }

  counter-reset: titre;
  .titre:before {
    content: counter(titre) " - ";
    counter-increment: titre;
  }

  .titre {
    font-family: Beautiful Heartbeat;
    text-transform: uppercase;
    font-size: 4rem;
    margin-top: 2rem;
  }

  .texte {
    font-size: 1.5rem;
    text-align: justify;
  }

  .footer {
    margin-top: 10rem;
    padding: 5rem;
    font-family: DINPro;
    font-size: 1.5rem;
    width: 60%;
    background-image: url(../uploads/bulle-bleue.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    p { color: white; }

    h1 {
      font-family: BotonBold;
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}

