@import 'mixins.scss';

main {
  display: flex;
  flex-direction: column;
  & section {
    width: 100%;
  }

  @include breakpoint(desktop) {
    flex-direction: row;
    & section {
      width: 50%;
    }
  }
}

.homepage-header {
  max-width: 36rem;
  border-radius: 20px;
  display: inline-block;
  padding: 3rem;
  background-image: url(/bulle.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  font-family: 'Sniglet', cursive;

  & h1 {
    margin: 0 0 0.5rem;
    font-weight: normal;
    font-size: 1.95rem;
  }
  & span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.6rem;
  }

  @include breakpoint(mobileonly) {
    background-image: url(/bulle-mobile.svg);
    text-align: center;
  }
}

.homepage-content {
  & p {
    padding: 0 1rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.13rem;
    line-height: 1.35rem;
    text-align: justify;
    & strong {
      font-weight: 700;
    }
  }
  @include breakpoint(desktop) {
    width: 95%;
    margin-top: 2rem;
  }
}

.brochures {
  display: flex;
  flex-direction: row;

  width: 90%;
  margin: 1rem auto 0 auto;
  @include breakpoint(desktop) {
    margin: auto;
  }
  @include breakpoint(mobileonly) {
    flex-direction: column;
  }
}

#adultes {
  @include breakpoint(mobileonly) {
    margin-bottom: 3rem;
  }
  @include breakpoint(phablet) {
    margin-right: 3rem;
  }
}

#adultes,#enfants {
  & img { width: 100%; }
  & button {
    border: none;
    padding: 2rem;
    margin-top: 1rem;
    width: 100%;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: url(/bouton.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 125%;
    background-position: center;
  }
  @include breakpoint(desktop) { width: 17rem; }
  @include breakpoint(phablet) {
    width: 46%;
  }
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  & p {
    padding: 1rem;
    margin: 1rem;
    @include breakpoint(desktop) {
      width: 6rem !important;
    }
    @include breakpoint(phablet) {
      width: 7.5rem;
    }
    @include breakpoint(mobileonly) {
      width: calc(90% / 2.32);
      margin: 0;
    }
  }
}

#foot-text {
  padding: 0 1rem;
  text-align: justify;
}
