@import 'colors.scss';
@import 'mixins.scss';
@import 'fonts.scss';
@import 'index.scss';
@import 'brochure-enfants.scss';
@import 'brochure-adultes.scss';

body {
  padding: 1rem;
  background-color: $background;
  color: $text;
  font-family: 'Roboto', sans-serif;
  @include breakpoint(desktop) {
    padding: 2rem;
  }

}

p {
  font-family: DINPro;
  strong { font-family: DINPro-Bold; }
}
