@import url(https://unpkg.com/normalize.css@8.0.1/normalize.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:300|Sniglet&display=swap');
@import 'colors.scss';
@import 'index.scss';
@import 'brochure.scss';

body {
  padding: 1rem;
  background-color: $background;
  color: $text;
  font-family: 'Roboto', sans-serif;
  @include breakpoint(desktop) {
    padding: 2rem;
  }
}
