$rouge: #ed2123;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
  }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }
  }
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin credit-brochures () {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  background-color: rgba(102, 194, 194, 0.2);

  .credits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    @include breakpoint(tablet) {
      width: 70%;
    }

    &-titre {
      display:block;
    }
    p {
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        margin-top: 1rem;
        display: block;
      }
    }
    #logo-chd {
      width: 3rem;
    }
    #logo-epms {
      width: 10rem;
    }
    #logo-marc-allaert {
      width: 7rem;
    }
  }
}
