<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <title>{{ site.Title }} - {{ block "title" . }}{{ end }}</title>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script async defer data-domain="permisdeprudence.fr" src="https://plausible.ut7.fr/js/plausible.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  </head>
  <body>
    {{ block "main" . }}
    {{ end }}
  </body>
</html>

