{{ define "title" }}Accueil{{ end }}

{{ define "main" }}
  <main aria-role="main">
    <section>
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
          <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
        {{.Content}}
      </div>
    </section>
    <section>
      <div class="brochures">
        <div id="adultes">
          <a href="/adultes"><img src="../adultes.png"></a>
          <button>Adultes</button>
        </div>
        <div id="enfants">
          <img src="../enfants.png">
          <button>Enfants</button>
        </div>
      </div>
      <div class="columns">
        <p>
          <strong>Brochure originale</strong>
          <br><br>
          Conçue par <strong>Marceline Gabel</strong> et
          <strong> Dominique de Saint Mars</strong>
          en 1987
        </p>
        <p>
          <strong>Texte</strong>
          <br><br>
          Dominique de Saint Mars et
          l’équipe médico judiciaire pédiatrique du
          Centre Hospitalier de Dunkerque
          <img id="premier-logo" src="/logo1.png">
        </p>
        <p>
          <strong>Illustration</strong><br>
          Claude Delafosse
          <br><br>
          <strong>Graphisme</strong><br>
          Kakidesign.fr
        </p>
        <p>
          <strong>Site</strong><br>
          ut7
          <br><br>
          <strong>Financement</strong><br>
          Association Marc Allaert
          <img id="second-logo" src="/logo2.png">
        </p>
      </div>
      <p id="foot-text"><strong>Pour commander les brochures sous forme de livrets, contacter
      l’imprimerie ICO Dunkerque. Demande de devis sur www.icodk.fr</strong></p>
    </section>
  </main>
{{ end }}
