{{ define "title" }}Accueil{{ end }}

{{ define "main" }}
  <main aria-role="main" class="home">
    <section>
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
          <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
        {{.Content}}
      </div>
    </section>
    <section>
      <div class="brochures">
        <div id="adultes" class="acces-brochure adultes">
          <a class="couverture" href="brochure/adultes">
            <img src="./adultes.png">
          </a>
          <div class="boutons">
            <div class="boutons-interieur">
              <a class="bouton" href="brochure/adultes">Adultes</a>
              <a class="bouton bouton-pdf" href="adultes.pdf">pdf ▼</a>
            </div>
          </div>
        </div>
        <div id="enfants" class="acces-brochure">
          <a class="couverture" href="brochure/enfants">
            <img src="./enfants.png">
          </a>
          <div class="boutons">
            <div class="boutons-interieur">
              <a class="bouton" href="brochure/enfants">Enfants</a>
              <a class="bouton bouton-pdf" href="enfants.pdf">pdf ▼</a>
            </div>
          </div>
        </div>
      </div>
      {{ partial "blocks/credits" . }}
      <a class="foot-text" rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.fr">Diffusion autorisée sans modification et sans but commercial.</a>
      <p class="foot-text"><strong>Pour commander les brochures sous forme de livrets, contacter
      l’imprimerie ICO Dunkerque. Demande de devis sur www.icodk.fr</strong></p>
    </section>
  </main>
{{ end }}
