{{ define "title" }}Accueil{{ end }}

{{ define "main" }}
  <main class="home">
    <section>
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
          <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
        {{.Content}}
        <p class="punchline">{{ .Params.punchline }}</p>
      </div>
    </section>
    <section>
      <div class="brochures">
        <div id="adultes" class="acces-brochure adultes">
          <a class="couverture" href="brochure/adultes">
            <img src="./adultes.png" alt="Permis de prudence pour les adultes : pour parler aux enfants des aggressions sexuelles">
          </a>
          <div class="boutons">
            <a class="bouton-pdf" href="permis_de_prudence_pour_les_adultes.pdf">Téléchager le pdf ▼</a>
          </div>
        </div>
        <div id="enfants" class="acces-brochure">
          <a class="couverture" href="brochure/enfants">
            <img src="./enfants.png" alt="Permis de prudence pour les enfants : pour parler des aggressions sexuelles">
          </a>
          <div class="boutons">
            <a class="bouton-pdf" href="permis_de_prudence_pour_les_enfants.pdf">Téléchager le pdf ▼</a>
          </div>
        </div>
      </div>
      <p class="foot-text">
        Brochure originale conçue par <strong>Marceline Gabel</strong> et
        <strong> Dominique de Saint Mars</strong>
        en 1987
      </p>
      {{ partial "blocks/credits" . }}
      <a class="foot-text" rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.fr">Diffusion autorisée sans modification et sans but commercial</a>
      <p class="foot-text"><strong>Pour commander les brochures sous forme de livrets, contacter
      l’imprimerie ICO Dunkerque. Demande de devis sur www.icodk.fr</strong></p>
    </section>
  </main>
{{ end }}
