<div class="credits">
  <div class="column">
    <p>
      <strong class="credits-titre">Auteurs</strong>
      Marceline Gabel et Dominique de Saint Mars<br/>
      avec la collaboration de Bertrand Lionet et Béatrice Piveteau, psychologues
    </p>
    <div class="logos">
      <img id="logo-chd" alt="logo Centre Hospitalier Dunkerque" src="/logo_chd.png">
      <img id="logo-epms" alt="logo EPSM des flandres" src="/logo_epms_des_flandres.png">
    </div>
  </div>
  <div class="column">
    <p>
      <strong class="credits-titre">Illustration</strong>
      Claude Delafosse
    </p>
    <p>
      <strong class="credits-titre">Graphisme</strong>
      <a target="_blank" href="https://www.kaki-design.fr">Kaki design</a>
    </p>
  </div>
  <div class="column">
    <p>
      <strong class="credits-titre">Site</strong>
      <a target="_blank" href="https://ut7.fr">/ut7</a>
    </p>
    <p>
      <strong class="credits-titre">Financement</strong>
      Association Marc Allaert
      <img id="logo-marc-allaert" alt="logo association Marc Allaert" src="/logo_marc_allaert.png">
    </p>
  </div>
</div>
