<p>
  <strong>Brochure originale</strong>
  <br><br>
  Conçue par <strong>Marceline Gabel</strong> et
  <strong> Dominique de Saint Mars</strong>
  en 1987
</p>
<p>
  <strong>Texte</strong>
  <br><br>
  Dominique de Saint Mars et
  l’équipe médico judiciaire pédiatrique du
  Centre Hospitalier de Dunkerque
  <img id="premier-logo" src="./logo1.png">
</p>
<p>
  <strong>Illustration</strong><br>
  Claude Delafosse
  <br><br>
  <strong>Graphisme</strong><br>
  <a target="_blank" href="https://www.kaki-design.fr">Kaki design</a>
</p>
<p>
  <strong>Site</strong><br>
  <a target="_blank" href="https://ut7.fr">ut7</a>
  <br><br>
  <strong>Financement</strong><br>
  Association Marc Allaert
  <img id="second-logo" src="./logo2.png">
</p>
