<div class="credits">
  <div class="column">
    <p>
      <strong class="credits-titre">Brochure originale</strong>
      Conçue par <strong>Marceline Gabel</strong> et
      <strong> Dominique de Saint Mars</strong>
      en 1987
    </p>
  </div>
  <div class="column">
    <p>
      <strong class="credits-titre">Auteure</strong>
      Dominique de Saint Mars
    </p>
    <p>
      <strong class="credits-titre">Psychologues</strong>
      Bertrand Lionet et Béatrice Piveteau, des services de pédiatrie et de pédopsychiatrie du Centre Hospitalier de Dunkerque
      <img id="premier-logo" src="/logo1.png">
    </p>
  </div>
  <div class="column">
    <p>
      <strong class="credits-titre">Illustration</strong>
      Claude Delafosse
    </p>
    <p>
      <strong class="credits-titre">Graphisme</strong>
      <a target="_blank" href="https://www.kaki-design.fr">Kaki design</a>
    </p>
  </div>
  <div class="column">
    <p>
      <strong class="credits-titre">Site</strong>
      <a target="_blank" href="https://ut7.fr">/ut7</a>
    </p>
    <p>
      <strong class="credits-titre">Financement</strong>
      Association Marc Allaert
      <img id="second-logo" src="/logo2.png">
    </p>
  </div>
</div>
