<section class="question">
  <div class="numero"></div>
  <img class="image" src="{{ .image }}">
  <h2 class="titre">{{ .question }}</h2>
  <ul class="reponses">
    {{ range $i, $val := .reponses }}
      <li>
        {{ if eq $i 0 }}
          <img src="../../uploads/{{ $.symbol_reponse_1 }}.gif" alt="{{ $.symbol_reponse_1 }}">
        {{ end }}
        {{ if eq $i 1 }}
          <img src="../../uploads/{{ $.symbol_reponse_2 }}.gif" alt="{{ $.symbol_reponse_2 }}">
        {{ end }}
        {{ if eq $i 2 }}
          <img src="../../uploads/{{ $.symbol_reponse_3 }}.gif" alt="{{ $.symbol_reponse_3 }}">
        {{ end }}
        <p>{{ $val }}</p>
      </li>
    {{ end }}
  </ul>
</section>
