{{ define "title" }}{{ "Brochure Adultes" }}{{ end }}

{{ define "main" }}
  <main class="brochure adultes">
    {{ range $index, $element := .Params.sections }}
    <section class="section">
      <div class="saut-page" style="background-image:url('/trait{{ mod $index 2 }}.svg')">
        <img class="icone" src="{{ .icone }}">
      </div>
      {{ partial "blocks/section" . $index }}
    </section>
    {{ end }}
    <div class="conclusion">
      {{ .Params.texte_footer | markdownify }}
      <img src="../../uploads/zebus.png">
      <h1>{{ .Params.derniere_ligne }}</h1>
    </div>
    <footer>
        {{ partial "blocks/credits" . }}
    </footer>
  </main>
{{ end }}
