{{ define "title" }}{{ "Brochure Enfants" }}{{ end }}

{{ define "main" }}
  <main class="brochure enfants">
    <section class="section-introduction">
      <img
        class="couverture image"
        src="../../enfants.jpg"
        alt="Couverture de la brochure avec le titre « Permis de prudence pour les enfants ». Sous-titre : « pour parler des aggressions sexuelles »">
      <img class="icone" src="{{ .Params.Icone_zebus }}">
      <h1 class="titre">{{ .Params.Titre }}</h1>
      <div class="intro">{{ .Params.Introduction | markdownify }}</div>
      <div class="sous-titre">{{ .Params.Sous_titre }}</div>
    </section>
    {{ range .Params.questions }}
      {{ partial "blocks/question" . }}
    {{ end }}
    <section class="section-reponses">
      <h1>{{ .Params.Titre_section_reponses }}</h1>
      <div class="contenu">
        <p class="instructions">{{ .Params.instructions | markdownify }}</p>
        <div class="resultats">{{ .Params.resultats | markdownify }}</div>
      </div>
    </section>
    <section class="section-bravo">
      <img class="image" src="{{ .Params.Image_bravo }}">
    </section>
    <section class="section-conseils">
      <h1>Petits conseils de prudence</h1>
      <ol>
        {{ range .Params.conseils }}
        <li><div class="conseil">{{ . }}</div></li>
        {{ end }}
      </ol>
    </section>
    <footer>
        {{ partial "blocks/credits" . }}
    </footer>
  </main>
{{ end }}
