{{ define "title" }}{{ "Brochure Enfants" }}{{ end }}

{{ define "main" }}
  <main class="brochure enfants">
    <section class="section-introduction">
      <img class="icone" src="{{ .Params.Icone_zebus }}">
      <h1 class="titre">{{ .Params.Titre }}</h1>
      <p class="intro">{{ .Params.Introduction | markdownify }}</p>
      <h2 class="sous-titre">{{ .Params.Sous_titre }}</h2>
    </section>
    {{ range .Params.questions }}
      {{ partial "blocks/question" . }}
    {{ end }}
    <section class="section-reponses">
      <h1>{{ .Params.Titre_section_reponses }}</h1>
      <div class="contenu">
        <p class="instructions">{{ .Params.Instructions | markdownify }}</p>
        <div class="resultats">{{ .Params.Resultats | markdownify }}</div>
      </div>
    </section>
    <section class="section-bravo">
      <img class="image" src="{{ .Params.Image_bravo }}">
    </section>
    <section class="section-conseils">
      <h1>Petits conseils de prudence</h1>
      <ol>
        <li class="conseil-1">Connais par coeur ton adresse et ton numéro de téléphone.</li>
        <li class="conseil-2">Discute avec tes parents des endroits où tu peux te réfugier si tu as besoin d’aide (dans la rue, un magasin par exemple).</li>
        <li class="conseil-3">Parle avec tes parents des gens que tu rencontres, des endroits où tu vas jouer et des choses qui t'inquiètent.</li>
        <li class="conseil-4">Si on t'oblige à faire des gestes sexuels ou qu'on ne respecte pas ton corps tu dois en parler pour qu'on te protège.</li>
        <li class="conseil-5">N’hésite pas à parler de ce qui te gêne, si quelqu’un t’embête, même si on t’a demandé de garder le secret.</li>
        <li class="conseil-6">Insiste si on n’écoute pas ce que tu as envie de dire, ou trouve quelqu’un d’autre jusqu’à ce qu’on te croie.</li>
        <li class="conseil-7">Le 119 est un numéro gratuit et anonyme que tu peux appeler pour te faire aider par des grandes personnes.</li>
      </ol>
    </section>
  </main>
{{ end }}
