{{ define "title" }}{{ "Brochure Enfants" }}{{ end }}

{{ define "main" }}
  <main class="brochure enfants">
    <section class="section-introduction">
      <img class="icone" src="{{ .Params.Icone_zebus }}">
      <h1 class="titre">{{ .Params.Titre }}</h1>
      <p class="intro">{{ .Params.Introduction | markdownify }}</p>
      <h2 class="sous-titre">{{ .Params.Sous_titre }}</h2>
    </section>
    {{ range .Params.questions }}
      {{ partial "blocks/question" . }}
    {{ end }}
    <section class="section-reponses">
      <h1 class="titre">{{ .Params.Titre_section_reponses }}</h1>
      <div class="contenu">
        <p class="instructions">{{ .Params.Instructions | markdownify }}</p>
        <div class="resultats">{{ .Params.Resultats | markdownify }}</div>
      </div>
    </section>
    <section class="section-bravo">
      <img class="image" src="{{ .Params.Image_bravo }}">
    </section>
  </main>
{{ end }}
